.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Menu {
  width: 500px;
  height: 450px;
  border-radius: 10px;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Menu input,button{
  width: 300px;
  height: 50px;
  margin: 5px;
  border : none;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 20px;
}

button:hover {
  cursor: pointer;
}

.Quiz {
  width: 500px;
  height: 450px;
  border-radius: 10px;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu .Quiz .EndGame {
  color: white;
}

.EndGame {
  width: 500px;
  height: 450px;
  border-radius: 10px;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#selOpt {
  background-color: darkblue;
  color: white;
}

h3 {
  color: white;
}